@import url(variables.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    /* background-color: aqua; */

    display: flex;
    justify-content: space-around;
    /* margin-top: 5vh; */
    padding-block: 2rem;
}
header a{
    text-decoration: none;
    color:var(--color-font) ;

    font-size: 18px;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
header ul{
    list-style: none;
}
.headerDer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}


.d{
    height: 100vh;
}

main{
    width: 100%;
}
section{
    /* position: relative; */
}
.ptex{
    width: 100%;
    height: 100vh;
    position: relative;
    top: 0 ;
    z-index: -1;
    
    background-image: linear-gradient(var(--color-banner),var(--color-banner)), url(../storage/img/placeYourImageHere0.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.ptex article{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}
.ptex h1{
    color: var(--color-primary);
    font-size: 80px;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}
.ptex p{
    color: var(--color-font);
    font-size: 20px;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.boton{
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 25%;
    height: 3rem;
    border-radius: 8px;
}
.boton p{
    color: var(--color-secundary);
    font-size: 20px;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.imagen{
    width: 100%;
}
.ptex_childer{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.vacio{
    position: relative;
}



