@import url(variables.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    /* background-color: aqua; */

    display: flex;
    justify-content: space-around;
    margin-top: 5vh;
}
header a{
    text-decoration: none;
    color:var(--color-font) ;

    font-size: 18px;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
header li{
    list-style: none;
}
.headerDer{
    display: flex;
    align-items: center;
}
.headerDer ul{
    display: flex;
    gap: 15vh;
}

main{
    width: 100%;

    display: flex;
    flex-direction: column;   
    flex-wrap: nowrap;
}
.home,.vacio{
    position: relative;
}
.ptex{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: -120px;
    z-index: -1;
    
    background-image: linear-gradient(var(--color-banner),var(--color-banner)), url(../storage/img/placeYourImageHere0.png);
    background-repeat: no-repeat;
    background-size: cover;
    
    display: flex;
    align-items: center;
    gap: 5%;
    
    padding-right: 100px;
    padding-left: 30px;
}
.ptex_childer h1{
    color: var(--color-primary);
    font-size: 80px;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}
.ptex_childer p{
    color: var(--color-font);
    font-size: 20px;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.boton{
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 120px;
    height: 30px;
    border-radius: 2px;
}
.boton p{
    color: var(--color-secundary);
    font-size: 20px;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.imagen{
    width: 100%;
}
.ptex_childer{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.vacio{
    position: relative;
}



